body {
  background-color: #000;
  /* Background hitam */
  color: #fff;
}

.card {
  background-color: #222;
  /* Background kartu */
  border: none;
}

.btn-danger {
  background-color: #ff0000;
  /* Warna tombol Detail */
  border: none;
}


.btn-warning {
  background-color: #ff6600;
  /* Warna tombol Add */
  border: none;
}

.card img {
  height: 200px;
  object-fit: cover;
}

.card-title {
  color: #ff9900;
  /* Warna judul kartu */
}